server:
  id: "survival"

database:
  enabled: true
  host: "127.0.0.1"
  port: 3306
  database: "zakum"
  user: "root"
  password: "change-me"
  params: "useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=UTC"

  pool:
    maxPoolSize: 10
    minIdle: 2
    connectionTimeoutMs: 5000
    validationTimeoutMs: 2500
    idleTimeoutMs: 600000
    maxLifetimeMs: 1800000
    leakDetectionMs: 0

  failover:
    retrySeconds: 30

controlPlane:
  enabled: false
  baseUrl: "http://127.0.0.1:8080"
  apiKey: ""
